* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}


/* ANIMATION(S) */
@keyframes gradient {
  0%   {color: #FA26A0;}
  25%  {color: #05DFD7;}
  50%  {color: #A3F7BF;}
  100% {color: #ff8fd0;}
}



.brand-jumbotron {
  background-image: url('./images/ark.jpg');
  background-size: 100%,auto;
}
body {
  background-image: url('./images/ark.jpg');
  background-repeat: repeat;
  background-size: auto;
}

.brand-name {
  font-family: 'Press Start 2P', cursive;
  animation-name: gradient;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}